@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.BlogItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<p>@Model.Value("authorName")</p>
<p>@Model.Value("publishedOn")</p>
<div>@Model.Value("bodyText")</div>